<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Album example for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">


    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/products.css">
</head>

<body>
<div th:insert="~{navbar :: navbar  }"></div>

<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <h1>Account Details</h1>
            <div class="row">

                <div th:object="${user}" class="col-md-3">
                    <h1 class="card-body" th:text="${user?.email}">Email: </h1>
                    <div class="card-body">
                        <form method="post" th:action="@{/account/changePassword}">
                            <h3 class="card-text">Password</h3>

                            <input class="form-control" id="password" name="password"
                                   type="password" placeholder="Enter new password" field="password">
                            <button type="submit" class="btn btn-sm btn-outline-secondary">Change Password</button>
                        </form>
                        <div class="my-5">
                            <div th:if="${user.address}">

                                <h3 class="card-text">Address</h3>
                                <h5 class="card-text" th:if="${user.address}"
                                    th:text="'Current address: ' + ${ user.address}">Current address: </h5>
                            </div>
                            <form method="post" th:action="@{/account/changeAddress}">
                                <input class="form-control" id="address" name="address"
                                       type="text" placeholder="Enter new address" field="address">
                                <button type="submit" class="btn btn-sm btn-outline-secondary">Change Address</button>
                            </form>
                        </div>

                        <div class="mt-5">
                            <h3>Card Information</h3>
                            <h5 th:if="${user.getCard()}">You have linked card</h5>
                            <div>
                                <form method="post" th:action="@{/account/addInfo}" th:object="${CardInfo}">
                                    <input class="form-control" id="cardNumber" name="cardNumber" required
                                           type="text" minlength="16" maxlength="16" placeholder="Enter Card number" field="cardNumber">
                                    <input class="form-control" id="expDate" name="expDate" required
                                           type="month" mplaceholder="Enter expiration date" field="expDate">
                                    <input class="form-control" id="cardHolderName" name="cardHolderName" required
                                           type="text" placeholder="Enter name" field="cardHolderName">
                                    <input class="form-control" id="cvv2" name="cvv2" required
                                           type="number" min="100" max="999" placeholder="Enter cvv" field="cvv2">
                                    <button type="submit" class="btn btn-sm btn-outline-secondary">Enter card</button>


                                </form>
                            </div>
                        </div>
                        <form class="mt-5" method="post" th:action="@{/account/deleteInfo}">
                            <button type="submit" class="btn btn-sm btn-outline-danger">Delete Account Info</button>
                        </form>
                        <form class="mt-5" method="post" th:action="@{/account/delete}">
                            <button type="submit" class="btn btn-sm btn-outline-danger">Delete Account</button>
                        </form>
                    </div>
                </div>


            </div>
        </div>
    </div>

</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting
            started guide</a>.</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
</body>
</html>
