<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Album example for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">


    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/products.css">
</head>

<body>
<div th:insert="~{navbar :: navbar  }"></div>
<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">

<!--                <div th:object="${card}" class="col-md-3">-->
<!--                    <img class="card-img-top"-->
<!--                         src="https://i.pinimg.com/originals/2f/80/82/2f80825d60fd93529e092c2b11e5123d.png"-->
<!--                         alt="Card image cap">-->
<!--                    <h1 class="card-body" th:text="${product.name}">name</h1>-->
<!--                    <div class="card-body">-->
<!--                        <h2 class="card-text" th:text="${product.description}">description</h2>-->
<!--                        <p class="card-text" th:text="${product.brand}">brand</p>-->
<!--                        <p class="card-text" th:text="${product.category.name}">category</p>-->
<!--                        <div>-->
<!--                            Current Price: $-->
<!--                            <div th:text="${product.price}">price</div>-->
<!--                        </div>-->
<!--                        <div class="d-flex ">-->
<!--                            <div></div>-->

<!--                            <form method="post" th:action="@{/products/addCart/{id}(id=${product.id})}">-->
<!--                                <div class="form-group">Currently in stock:-->
<!--                                    <label th:text="${product.stock}">stock</label>-->
<!--                                    <input class="form-control" id="quantity" name="quantity"-->
<!--                                           type="number" placeholder="Enter stock" field="quantity">-->
<!--                                </div>-->

<!--                                <button type="submit" class="btn btn-sm btn-outline-secondary">Add to cart</button>-->
<!--                            </form>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->


            </div>
        </div>
    </div>

</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting
            started guide</a>.</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
</body>
</html>
