<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Album example for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">


    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/products.css">
</head>

<body>
<div th:insert="~{navbar :: navbar  }"></div>
<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <h5 class="card-title">Orders</h5>

            <div class="row">
                <div class="card w-100">
                    <a sec:authorize="hasRole('USER')" th:each="order:${orders}"
                       th:href="@{/orders/{id}(id=${order.id})}" class="card-body">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                        <h5 class="col-xs-6" th:text="${order.getUser().email}">Email</h5>
                                        <div class="col-xs-6 ml-auto" th:text="${'Status: '+ order.status.name}">
                                            Status
                                        </div>
                                    </div>
                                    <div th:text="${'Order price: ' + order.totalPrice + '$'}">Total price</div>
                                </div>
                            </div>
                        </div>

                    </a>
                    <a sec:authorize="hasRole('ADMIN')" th:each="order:${orders}"
                       th:href="@{/admin/orders/{id}(id=${order.id})}" class="card-body">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                        <h5 class="col-xs-6" th:text="${order.getUser().email}">Email</h5>
                                        <div class="col-xs-6 ml-auto" th:text="${'Status: '+ order.status.name}">
                                            Status
                                        </div>
                                    </div>
                                    <div th:text="${'Order price: ' + order.totalPrice + '$'}">Total price</div>
                                </div>
                            </div>
                        </div>

                    </a>

                </div>

            </div>
        </div>

</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting
            started guide</a>.</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
</body>
</html>
