<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Album example for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">


    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/products.css">
</head>

<body>
<div th:insert="~{navbar :: navbar  }"></div>
<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">

                <div th:each="product: ${products}" class="col-md-3">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h2 class="card-text" th:text="${product.getProduct().getName()}">name</h2>
                            <h4 class="card-text" th:text="${product.getProduct().getPrice() + '$'}">price</h4>

                        </div>
                        <div class="card-body">
                            <div class="card-text">Brand:
                                <div class="mr-auto" th:text="${product.getProduct().getBrand()}">brand</div>
                            </div>
                            <br>
                            <div class="card-text">Category:
                                <div class="mr-auto" th:text="${product.getProduct().getCategory().getName()}">
                                    category
                                </div>
                            </div>
                            <div class="d-flex ">
                                <div></div>
                                <div class="btn-group mr-auto">
                                    <a th:href="@{/products/{id}(id=${product.getProduct().getId()})}" type="button"
                                       class="btn btn-sm btn-outline-secondary">View</a>
                                </div>
                                <div class="col">
                                    <div class="text-right">
                                        <div class="mr-auto" th:text="${'x' + product.getQuantity()}"></div>
                                    </div>
                                    <div class="text-right">
                                        <h5 class="card-text ml-auto"
                                            th:text="${product.getProduct().getPrice() * product.getQuantity()}">
                                            price</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
<div class="fixed-top m-5 pt-5">
    <div th:object="${order}" class="row mb-5">
        <div class="col-md-6"><h3 th:text="'Total Price:' + ${order.totalPrice}">price</h3></div>
    </div>
    <div><h3 th:text="${'Status: '+ order.status.name}">Status: </h3></div>
    <div sec:authorize="hasRole('ADMIN')" style="width: 15%">
        <div class="form-group">
            <form method="post" th:action="@{/admin/orders/updateStatus/{id}(id=${order.id})}" th:object="${statuses}">
                <select class="form-control" id="statusId" name="statusId">
                    <option selected th:value="${order.status.id}" th:text="${order.status.name}"></option>
                    <option th:each="status:${statuses}" th:value="${status.id}"
                            th:text="${status.name}"></option>
                </select>
                <button type="submit" class="btn btn-primary mt-5">Update Status</button>
            </form>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
</body>
</html>
