<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Album example for Bootstrap</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/">


    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/products.css">
</head>

<body>
<div th:insert="~{navbar :: navbar  }"></div>

<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">

                <form method="post" th:action="@{/admin/createProduct}" th:object="${Product}">
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" id="name" name="name"
                               placeholder="Enter name" field="*{name}">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input class="form-control" id="description" name="description" type="text"
                               placeholder="Enter Description" field="*{description}">
                    </div>
                    <div class="form-group">
                        <label>Brand</label>
                        <input class="form-control" id="brand" name="brand"
                               placeholder="Enter Brand" field="*{brand}">
                    </div>
                    <div class="form-group">
                        <label>Select category</label>
                        <select class="form-control" id="categoryId" name="categoryId">
                            <option value="">Select a category</option>
                            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>price</label>
                        <input class="form-control" id="price" name="price"
                               type="number" placeholder="Enter price" field="*{price}">
                    </div>
                    <div class="form-group">
                        <label>stock</label>
                        <input class="form-control" id="stock" name="stock"
                               type="number" placeholder="Enter stock" field="*{stock}">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>


            </div>
        </div>
    </div>

</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p>New to Bootstrap? <a href="../../">Visit the homepage</a> or read our <a href="../../getting-started/">getting
            started guide</a>.</p>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
</body>
</html>
